<html>
  <head>
    <title>습관 추가</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
  </head>

  <body>
    <div class="container">
      <h1>습관 추가</h1>
      <form method="post" action="/habit/add" class="signup-form">
        <figure>
          <p>
            <label>습관명</label>
            <input type="text" name="habit_name" required />
          </p>
           <p>
            <label>시작일 (YYYY-MM-DD)</label>
            <input type="date" name="start_date" required />
          </p>
          <p>
            <label>종료일 (YYYY-MM-DD)</label>
            <input type="date" name="end_date" required />
          </p>
        </figure>
        <button type="submit" class="button centered-text" href="/habit">추가하기</button>
      </form>
    </div>
  </body>
</html>