<html>
    <head>
        <title>홈페이지</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">        
    </head>
    <body>
        <div class="container">
        </div>
    </body>
</html>